<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo producto" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNuevoProducto()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" [disabled]="!productos_seleccionados|| !productos_seleccionados.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table *ngIf="paginacion" #dt [value]="lista_productos" [lazy]="true" (onLazyLoad)="loadProductos($event)" [rows]="paginacion.per_page" [paginator]="true" [totalRecords]="paginacion.total" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="productos_seleccionados" [rowHover]="true" dataKey="id" [loading]="loading"
        currentPageReportTemplate="Mostrando {first} to {last} of {totalRecords} productos" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Gestión Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th>Imagen</th>
                <th pSortableColumn="precio">Precio <p-sortIcon field="precio"></p-sortIcon></th>
                <th pSortableColumn="subcategoria_id">SubCategoria <p-sortIcon field="subcategoria_id"></p-sortIcon></th>
                <th pSortableColumn="cantidad">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prod>
            <tr>
                <td>
                    <p-tableCheckbox [value]="prod"></p-tableCheckbox>
                </td>
                <td>{{prod.nombre}}</td>
                <td><img [src]="'http://127.0.0.1:8000/imagenes/'+prod.imagen" [alt]="prod.nombre" width="100" class="p-shadow-4" /></td>
                <td>{{prod.precio | currency:'Bs. '}}</td>
                <td>{{prod.subcategoria_id}}</td>
                <td>
                    {{prod.cantidad}}
                </td>
                <td><span>ACTIVO</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" ></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total son {{lista_productos ? lista_productos.length : 0 }} productos.
            </div>
        </ng-template>
    </p-table>


    <p-dialog [(visible)]="productoDialog" [style]="{width: '450px'}" header="Detalles del Producto" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content" >
            <form [formGroup]="productoForm">
            <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.imagen">
            <div class="p-field">
                <label for="name">Nombre</label>
                <input type="text" pInputText id="name" required autofocus formControlName="nombre" />
                <small class="p-error" *ngIf="submitted && !product.nombre">Nombre Oblogatorio.</small>
            </div>
            <div class="p-field">
                <label for="description">Descripción</label>
                <textarea id="description" pInputTextarea rows="3" cols="20" formControlName="descripcion"></textarea>
            </div>
    
            <div class="p-field">
                <label class="p-mb-3">Categoria</label>
                <p-dropdown 
                    [options]="lista_categorias" 
                    placeholder="Seleccionar Categoria" 
                    [virtualScroll]="true" 
                    [itemSize]="31" 
                    [filter]="true"
                    optionLabel="nombre"
                    optionValue="id"
                    (onChange)="seleccionCategoria($event)"
                    
                    >
                </p-dropdown>

                <label class="p-mb-3">Sub Categoria</label>
                <p-dropdown 
                    [options]="lista_subcategorias" 
                    placeholder="Seleccionar Subcategoria" 
                    [virtualScroll]="true" 
                    [itemSize]="31" 
                    [filter]="true"
                    optionLabel="nombre"
                    optionValue="id"  
                    formControlName="subcategoria_id"                  
                    >
                </p-dropdown>
            </div>
    
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="price">Precio</label>
                    <p-inputNumber id="price" mode="currency" currency="BOB" locale="en-US" formControlName="precio"></p-inputNumber>
                </div>
                <div class="p-field p-col">
                    <label for="quantity">Cantidad</label>
                    <p-inputNumber id="quantity" formControlName="cantidad"></p-inputNumber>
                </div>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="">Cargar Imagen</label>
                    <input type="file" (change)="imagenSeleccionada($event)" accept="image/png, imagen/gif, imagen/jpg, imagen/jpeg">
                </div>
            </div>
        </form>
            {{ productoForm.value | json }}
        </ng-template>
    
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" ></button>
            <button pButton pRipple label="Guardar Producto" icon="pi pi-check" class="p-button-text" (click)="guardarProducto()"></button>
        </ng-template>
    </p-dialog>

</div>